<!DOCTYPE html>
<html>
  <head>
    <title>Result Page</title>
  </head>
  <body>
    <h1>Result Page</h1>
    <ul>
      <li><%= data.id %></li>
      <li><%= data.SN %></li>
      <li><%= data.category %></li>
      <li><%= data.name %></li>
      <li><%= data.status %></li>
    </ul>
  </body>
</html>
